
.Experiences-Container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Title-Container h2 {
    text-align: center;
    font-size: 27px;
  
}

.TextBlock-Container {
  display: flex;
  color: red;
  
  margin-top: 100px;
  margin-bottom: 100px;

  flex-wrap: wrap;
  justify-content: center;

}

.TextBlock-Container .Text-Block {
  max-width: 400px;
  min-height: 275px;

  padding: 20px;

  margin-right: 20px;
  margin-left: 20px;

}

.TextBlock-Container p {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.TextBlock-Container h4 {
  margin-bottom: 20px;
  font-size: 20px;
}


