.NavBar-Container {

  display: flex;
  flex-direction: row;

  justify-content: center;

  
  width: 100%;
  height: 55px;
  
  margin-top: 20px;

  z-index: 989;
  position: fixed;
   
  z-index: 990; /* Add z-index to ensure the header appears above other content */

  align-items: center;

  background: linear-gradient(to bottom, rgba(44, 43, 42, 0.233), rgba(255, 255, 255, 0.271));
  backdrop-filter: blur(10px); /* Apply the blur effect */

  list-style-type: none;



  
}

.Logo-Container {
  padding-top: 10px;
  padding-left: 10px;
    float: left;
  
}
  

.Logo-Container img {
  height: 80px;
  width: 210px;

  }

  
.NavBar{
 
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;


}


/*Navigation Buttons Styling*/

.NavBar ul {
 
}

.NavBar li{
  list-style-type: none;
  text-align:center;
  width: 100%;
}


/**/
ul.NavBar li a {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  position: relative;
}


ul.NavBar li a:hover {
  background-color: rgba(236, 159, 64, 0.513);
  transition: background-color 0.3s ease; /* Add smooth transition */
}


.NavBar li {
  padding-top: 4px;
}


.Button-Container {
  margin-top: 63px;
  margin-right: 20px;
  float: right;
}


/*This code is used for the overlay showing the active*/  
ul.NavBar li a.active::after {
  
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px; /* Set the height of the orange bar */
  background-color: orange; /* Set the color of the orange bar */

  
}

  