/*INTRO TEXT SECTION*/

.IntroSect .Intro-TextContainer p {
  font-size: 18px;
}

.IntroSect .Intro-TextContainer h3 {
  font-size: 22px;
  margin-bottom: 30px ;
}

.Intro-TextContainer h3, .Intro-TextContainer p{

  text-align: center;

}

.Intro-TextContainer {
  padding: 200px;

  margin-left: 20px;
  margin-right: 20px;

  margin-top: 40px;
  margin-bottom: 40px;

}








/*INTRO BOX SECTION*/
.Intro-BoxContainer {
  display: flex;

  margin-top: 100px;
  margin-bottom: 100px;
  
  flex-wrap: wrap;
  justify-content: center;

}

.BoxContentIntro .Text-Block {

  max-width: 400px;
  min-height: 275px;

  padding: 20px;

  margin-right: 20px;
  margin-left: 20px;

}


.BoxContentIntro .Text-Block p {
  font-size: 16px;
}


.BoxContentIntro .Text-Block h4 {
  margin-bottom: 20px;
  font-size: 20px;
}


/*This creates the small bar on the top left */
.BoxContentIntro .Text-Block::before {
  content: ''; /* Create a content box for the pseudo-element */
  position: absolute; /* Position it absolutely within the .Text-Block */
  top: 2; /* Place it at the top */
  left: 0; /* Place it at the left */
  width: 5px; /* Width of the orange bar */
  height: 15%; /* Full height of the .Text-Block */
  background-color: #279ee4; /* Color of the orange bar */
}